# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# Exclude sensitive Firebase configuration file
google-services.json

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
android/
.idea/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*


# debug
npm-debug.*
yarn-debug.*
yarn-error.*
barberappointmentapp-85deb-firebase-adminsdk-fbsvc-cb94268fd8.json

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
